:root {
  --primary-color: mediumseagreen;
  --secondary-color: black;
}

#div1 {
  background-color: var(--primary-color);
  padding: 5px;  
}

/* overrides */
p {
  margin: 10px;
}

input, select {
  border-radius: 50px;
  padding-left: 5px;
}

h4 {
  font-size: 2em;
  font-weight: bold;
  color: var(--secondary-color);
}

/* Layout */
body {
  background-color: var(--primary-color);
}

article {
  position: relative;
  min-height: 100vh;
}

header {
  background-color: var(--secondary-color);
  font-size: 3em;
  padding: 1%;
  text-align: center;
  color: var(--primary-color);
  font-weight: bold;
}

footer {
  background-color: var(--secondary-color);
  font-size: 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;  
  padding: .75em;
  text-align: center;
  font-weight: bold;
  color: var(--primary-color);
}

#login, #loggedin {
    display: none;
    padding-bottom: 4rem;    /* Footer height */
  }

#login {
  margin: 22%;
  text-align: center;
}

#oauth {
  display: none;
}

#get-songs, #filter-songs, #select-songs {
  display: none;
}

#get-playlists, #get-songs, #filter-songs, #select-songs {
  text-align: center;
}

#login-btn {
  height: 10%;
}

.search-btn {
  background-color: var(--secondary-color);
  border-color: white;
  border-radius: 50px;
  color: #fff;
  margin: 20px;
}

#user-profile {
  box-shadow: 0px 10px 60px 50px var(--secondary-color);
  font-size: 3em;
  font-weight: bold;
  color: var(--secondary-color);
}

#profile-image {
  width: 150px;
  display: block;
  padding: 10%;
}

#filter-form {
  margin: 0px 50px;
  padding: 5px 0px 20px 0px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 50px;
}

.sb-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
  }

.sb-track {
  text-align: center;
  height: 120px;
  display: inline-grid;
  width: 100px;
  justify-items: center;
  margin: 5px;
  color: var(--primary-color);
  background: linear-gradient(0deg, var(--primary-color), var(--secondary-color));
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sb-thumbnail {
  width:50px;
  height: 50px;
  object-fit: cover;
}

.sb-playlist {
  text-align: center;
  height: 120px;
  display: inline-grid;
  width: 100px;
  justify-items: center;
  margin: 5px;
  color: var(--primary-color);
  background: linear-gradient(0deg, var(--primary-color), var(--secondary-color));
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sb-thumbnail-header {
  overflow: overlay;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sb-thumbnail-header::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.sb-thumbnail-header {
  -ms-overflow-style: none;
}

#saved-message {
  display: none;
}